
.box2 {padding-top: 50px;} 
.log-in {border-radius:35%;}
.one {padding-top: 50px;padding-left: 50px;font-size: 40px;}
.tow {padding-top: 50px;}
.ab {border-radius:50px;}
.abc{background-color: #fff;}
.box1{height: 86vh;background-color: #1da1f2}
.list{list-style: none;padding-top: 250px;padding-left:100px;font-size:20px;color: #fff;}
.dawon{width:100%;background-color: red#ffffff; height: 60px;}
.list2 li{display:inline-block;position: relative;
    padding-left: 5px;font-size: 13px;padding-top: 15px;}
.list2 li a{color:#d2d2d2;}
.last-items{padding-top:0px;padding-left:40%;font-size: 13px;color:#d2d2d2}

/*end index*/

.navbar {background-color:#fff!important; }
.lastpage2{font-size:20px;padding-left: 50px;}
.lastpage2 li a{color:#66757f!important}
.lastpage2 li a:hover{border-bottom: 5px solid #4ab3f4;color:#4ab3f4!important}
.logo{padding-top: 15px;padding-left:15%}
.r1{background-color: red;height:100px;}
.r2{background-color: rgb(68, 0, 255);height:100px;}
.navbar .form-search{border-radius: 20px;padding-right: 70px;}
.navbar .button-tweet{border-radius: 20px;background-color:#4ab3f4;color: #fff;}
.user{font-size: 40px;padding-right: 10px;}
.b{background-color:#e6ecf0}